#footer{

    font-family: Arial;
    font-size: 16px; 
    line-height: 1.6;

}

html{
    background-color: rgb(251, 212, 249);
}

div {
    background-color: rgb(174, 0, 255);
    color: rgb(255, 255, 255);
}


